.navbar {
  padding: 4rem 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  &__container {
    flex: 0 0 50%;

    display: flex;
    justify-content: center;
  }

  &__icon {
    height: 3rem;
    width: 3rem;

    &--one {
      fill: $color-primary-dark;
      transform: rotate(90deg);
    }

    &--two {
      fill: $accent-color;
    }

    &--three {
      fill: $color-primary;
    }
  }
}

// 21.43
